
.header-style{
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    height: 30vh;
    font-size: 450%;
    font-family: monospace;
    text-align: center;
    background-image: url(austinimg.jpeg);
    background-position: center;
    background-size: cover;
   }
.photo{
    border-style: solid;
    border-color: black;
    float: left;
    width: 90%;
    padding: 2px;
    margin: 3%;
}

   
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 600px; 
    margin: 3%;
    border-color: black;
    border-style: solid;
   }
  .column{
    display: inline-flex;
    flex-wrap: wrap;
    float: left;
    width: 20%;
    padding: 10px;
    height: 600px; 
    margin: 3%;
    border-color: black;
    border-style: solid;
 }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
  body{
      background-image:linear-gradient(#CAA4EB, #F2C7C7);
  }
 .contact-text{
    text-decoration: underline;
 }
.about-me-text{
    text-decoration: underline;
}
.project-text{
    text-decoration: underline;
}

  








  
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 600px){
	
}
@media only screen and (max-width: 425px){
	
}

  
  